@(controller:de.htwg.se.tablut.bcontroller.IController)


@head("game"){
    <p id="demo">Hier liegt ein text der geändert wird</p>
    
    <button type="button" onclick="alert(9)">9</button>
    <button type="button" onclick="alert(11)">11</button>
    <button type="button" onclick="alert(13)">13</button>
    <button type="button" onclick="getMatrixSize()">Try it!</button>
    <button type="button" onclick="createTable(@controller.getMatrixSize())">Create Table</button>
    <button type="button" onclick="getFigure()">get Figure</button>
    <table id="Tabelle"></table>
    <p id="test">@controller.getMatrixSize</p>
    <script>
    	function getMatrixSize() {
    		document.getElementById("demo").innerHTML = "text wurde geändert";
    	}
    	
    	function createTable(size) {
    		for (var x = 0; x < size; x++) {
    			var Zeile = document.createElement("tr");
    			Zeile.id = "Zeile" + x;
    			document.getElementById("Tabelle").appendChild(Zeile);
    			for (var y = 0; y < size; y++) {
    				var Zelle = document.createElement("button");
    				Zelle.id = x+","+y;
    				if ((y%2==0 || !(x%2==0)) && ((x%2==0 || !(y%2==0)))) {
    					Zelle.setAttribute("class", "fieldbutton white");
    				} else {
    					Zelle.setAttribute("class", "fieldbutton black");
    				}
    				Zelle.addEventListener("click", function(){
    					alert(this.id);
    				}, false);
    				var inhalt = document.createTextNode("...");
    				Zelle.appendChild(inhalt);
    				document.getElementById("Zeile"+x).appendChild(Zelle);
    			}
    		}
    	}
    	
    	function getFigure() {
    		document.getElementById("test").innerHTML = controller.getGamefield().getField(4, 0).toString();
    	}
    </script>
}