@(title: String)(content: Html)

<!DOCTYPE HTML>
<html lang="en">
    <head>
        <h>@title</h>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/style.css")">
        <script src="@routes.Assets.versioned("javascripts/tablut_game.js")"></script>
        <table id="linker">
            <tr>
                <th><a href="/tablut">Zum Spiel</a></th>
                <th><a href="/help">Hilfe</a></th>
                <th><a href="/controls">Steuerung</a></th>
            </tr>
        </table>
    </head>
    <body>
        <p>@content</p>
    </body>
</html>